java/*
*.swp
BraveSoftware/*
Code
Code\ -\ OSS
Dharkael/
GIMP
JetBrains
Postman
QtProject.conf
QtProject/*
Signal
UMLet
autostart
blugon/*
bundle
chromium/*
clipit/*
codeblocks/*
configstore
dconf/*
discord
droidcam
eog/*
evolution/*
fcitx
gnome-control-center/*
gnome-initial-setup-done
gnupg/*
gtk-2.0/*
gtk-4.0/*
hibernate.target.wants/
history
ibus/*
klavaro/*
libreoffice
menus
mimeapps.list
mpd/database
mpd/log
mpd/playlist
mpd/playlists
mpv/watch_later
mutt/muttpwds.gpg
nautilus/*
nordvpn/*
npm/*
octave
pgadmin
pulse/*
qtws_Netflix/*
skypeforlinux
spotify/*
surf
suspend-then-hibernate.target.wants/
suspend.target.wants/
user-dirs.dirs
user-dirs.locale
vifm/vifminfo*
vim/bundle/YouCompleteMe
vim/bundle/YouCompleteMe/*
vim/plugged/indentLine
vim/plugged/Colorizer
vim/plugged/YouCompleteMe
vim/plugged/ainbow
vim/plugged/ale
vim/plugged/firenvim
vim/plugged/fzf.vim
vim/plugged/haskell-vim
vim/plugged/rainbow
vim/plugged/thesaurus_query.vim
vim/plugged/undotree
vim/plugged/vim-cpp-enhanced-highlight
vim/plugged/vim-fswitch
vim/plugged/vim-grammarous
vim/plugged/vim-hindent
vim/plugged/vimtex
vim/spell/mthesaur.txt
vim/viminfo.*
vlc/*
zsh/.zcompcache/
zsh/.zcompdump
zsh/extras/plugins
Google
remarkable
calibre
whoozle.github.io/
vim/autoload
vifm/vifmimgpdf*
zsh/extras/vim
vim/viminfo
pipewire
Android Open Source Project/
browser/bookmarks-2021-07-22.json
sage/ipython-5.0.0/profile_default/history.sqlite
sage/cache/310d75ce7bc5d911bdc699319877688022081c137b7045a36321bbd363a4b8d0-lazy_import_cache.pickle
sage/matplotlib-1.5.1
sage/temp
composer
bash/.zcompdump
GeoGebra
irb
sage
blender/
gedit/
