[Unit]
Description=Disable USB wakeup triggers in /proc/acpi/wakeup

[Service]
Type=oneshot
ExecStart=/bin/sh -c "grep \"XHC.*enabled\" /proc/acpi/wakeup && echo XHC > /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
